<div *ngIf="!isLoggedIn" class="login">
    <p>Du musst dich mit deinem spotify Konto anmelden, damit deine Playlists umgewandelt werden können</p>
    <p-button label="Spotify Login" (click)="login()"></p-button>
</div>
<div *ngIf="isLoggedIn" class="user">
    <p-avatar *ngIf="user.images.length > 0" [image]="user.images[0].url" styleClass="mr-2" size="xlarge"
        shape="circle"></p-avatar>
    <p-avatar *ngIf="user.images.length == 0" [label]="user.display_name[0]" styleClass="mr-2" size="xlarge"
        shape="circle"></p-avatar>
    <h2>Hey {{user.display_name}},<br /> welche Playlist möchtest du umwandeln?</h2>
</div>