<main>
    <h2 class="main-element main-heading">Spotify & YouTube: Perfekt Synchronisiert!</h2>
    <p class="main-element main-paragraph">Willkommen bei spotibuddy – wo Ihre Spotify-Playlists mühelos zu YouTube
        kommen. Erleben Sie schnelle, einfache Umwandlungen und entdecken Sie bald noch mehr Funktionen für Ihr
        ultimatives Musikerlebnis. Starten Sie jetzt und lassen Sie die Musik fließen! </p>
    <p-button class="main-element" routerLink="/playlist" routerLinkActive="active"
        label="Playlist umwandeln"></p-button>
</main>